<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規投稿</title>
</head>
<body>
    <form action="/save" method="POST">
        <label for="title">題名:</label><br>
        <input type="text" id="title" name="title" required><br><br>
      
        <label for="content">内容:</label><br>
        <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
      
        <input type="submit" value="送信">
    </form>
</body>
</html>