<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サークル掲示板</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <head>
    <p>ユーザーID: {{userid}} のブックマーク</p>
    <div id="bookmarkContents">
      <p></p>
    </div>

    </head>
    <main>
    <h1>閲覧ページ</h1><br>
    {{#myArr}}
       タイトル：{{posttitle}} <br>
       内容：{{postcontent}}<br>
       <button onclick="bookmark('{{posttitle}}','{{postcontent}}')">ブックマーク</button>
     <hr>
   {{/myArr}}


    </main>
    <footer>

    </footer>
    
    <script>
    function bookmark(title, text) {
      bookmarkContents = document.getElementById("bookmarkContents");
      var h4 = document.createElement("h4");
      var p = document.createElement("p");
      h4.textContent = title;
      p.textContent = text;
      bookmarkContents.appendChild(h4);
      bookmarkContents.appendChild(p);
    }
    </script>
</body>
</html>