<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <p>
        {{userid}} さんのマイページ
    </p>
    <form action="/logout" method="get">
        <input type="submit" value="ログアウト" onClick="alert('ログアウトしました！');">
    </form>
    <form action="/recipe" method="get"> <!-- recipe.mustacheに移動するボタン -->
        <input type="submit" value="閲覧ページへ">
    </form>
</body>
</html>