body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 100px;
  background-color: whitesmoke;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
